
head{
}

.header{
    color:blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    text-align: center;
}
body { 
    position: absolute; 
    height: 100vh;
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-image: url('TallAndSort.JPG');
    background-size: cover;
}

body::before {
    content: "";
    position: absolute;
    top: -50px;
    right: -50px;
    bottom: -50px;
    left: -50px;
    background-color: rgba(100, 159, 201, 0.5);
}

h1.header{
    position: relative;
    color:blue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    position: relative;
}

h2{
    position: relative;
}

h3{
    position: relative;
    color:blue;
    background-color:white;
    text-align: left;
    font-size: 50px;
}
h4{
    position: relative;
    color:blue;
    background-color:white;
    text-align: left;
    font-size: 50px;
}
h5{
    position: relative;
    color:blue;
    background-color:white;
    text-align: center;
    font-size: 50px;
}